ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .img {
    float: left;
    height: auto;
    width: auto;
    margin-right: 5px;
  }

  .square {
    position: relative;
    width: auto;
    height: 268px;
    border: 1px solid black;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .grid-container {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto auto auto auto;
  }


